<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Locals</title>
</head>
<body>

<!--Main Content-->
<div class="mt-5">
  <h1 class="text-center">List Locales</h1>
  <div class="container">
    <!--Add Local Button-->
    <div class="my-4">
      <a href="local-list.component.html"><button type="button" class="btn btn-primary">Add Local</button></a>
    </div>
    <table class="table border" >
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Reference</th>
        <th scope="col">Redevable</th>
        <th scope="col">Dernier Trimestre Paye</th>
        <th scope="col">Dernier Annee Paye</th>
        <th scope="col">Rue</th>
        <th scope="col">Categorie</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of locals; index as i">
        <td>{{c.id}}</td>
        <td>{{c.ref}}</td>
        <td>{{c.redevable.nom}}</td>
        <td>{{c.dernierTrimestrePaye}}</td>
        <td>{{c.derniereAnneePaye}}</td>
        <td>{{c.rue.libelle}}</td>
       <td>{{c.categorieLocal.libelle}}</td>

        <td><div class="circle-btn"><button type="button" class=" fa fa-trash btn btn-danger" ></button></div></td>
        <td><div class="circle-btn"><button type="button" class=" fa fa-edit btn btn-warning" ></button></div></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>

<router-outlet></router-outlet>

