




        <table class="table border" >
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Reference</th>
            <th scope="col">Redevable</th>
            <th scope="col">Dernier Trimestre Paye</th>
            <th scope="col">Dernier Annee Paye</th>
            <th scope="col">Rue</th>
            <th scope="col">categorie</th>

          </tr>

          </thead>
          <tbody>

          <tr *ngFor="let c of locales;  index as i">
            <td>{{c.id}}</td>
            <td>{{c.ref}}</td>
            <td>{{c.redevable.nom}}</td>
            <td>{{c.dernierTrimestrePaye}}</td>
            <td>{{c.derniereAnneePaye}}</td>
            <td>{{c.rue.libelle}}</td>
            <td>{{c.categorieLocale.libelle}}</td>
            <td>
              <span  type="button" class=" fa fa-trash btn  btn-outline-danger" ></span>
              <button  type="button" class=" btn btn-outline-primary me-2 fa fa-edit btn " data-bs-toggle="modal" data-bs-target="#editEmployee"></button>
            </td>
          </tr>
          </tbody>
        </table>

