<table class="table  w-50 z-index  " data-role="table">
  <thead  class="thead-light">
  <tr>
    <th data-sortable="true" data-sort-dir="asc">ID</th>
    <th data-sortable="true" data-sort-dir="asc">P.retard</th>
    <th data-sortable="true">P.Majoration</th>
    <th data-sortable="true" data-format="number">Categorie</th>
    <th data-sortable="true" data-format="date">Start date</th>
    <th data-sortable="true" data-show="false" data-format="date">Start date</th>
    <th data-sortable="true" data-show="false" data-format="date">Start date</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of TauxTaxeAnnuelle; index as i">
    <td>{{c.id}}</td>
    <td>{{c.pr}}</td>
    <td>{{c.rm}}</td>
    <td>{{c.cat}}</td>
    <td>{{c.dd}}</td>
    <td>{{c.df}}</td>
    <td>
      <button type="button" class=" fa fa-trash btn  btn-outline-danger"  > </button>
      <button type="button" class=" btn btn-outline-primary me-2 fa fa-edit btn " data-bs-toggle="modal" data-bs-target="#editEmployee"> <i class="fa-sharp fa-solid fa-pen-to-square"></i></button>
    </td>

</table>




<app-root></app-root>
