<section id="hero">
  <img src="assets/img/hero-bg.jpg" alt="">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <div class="card">
      <div class="card-header" style="background-color: lightblue">inscription</div>

      <div class="card-body">

        <div class="form-group">
          <label>nom: </label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group">
          <label>prenom: </label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group">
          <label>Rue: </label>
          <input type="text" class="form-control">
        </div>


      </div>

      <div class="card-footer">
        <button class="btn btn-outline-dark btn-block">Save</button>
      </div>
    </div>


  </div>
</section>
