<div class="card">
  <div class="card-header" style="background-color: lightblue">Gestion Locale</div>

  <div class="card-body">
    <div class="form-group">
      <label for="numero">numero: </label>
      <input id="numero" type="text" class="form-control" maxlength="255" [(ngModel)]="notification.numero">
    </div>
    <div class="form-group">
      <label for="Annee">Annee: </label>
      <input id="Annee" type="text" class="form-control" maxlength="255" [(ngModel)]="notification.annee">
    </div>

    <div class="form-group">
      <label for="trimester">trimester: </label>
      <input id="trimester" type="text" class="form-control" maxlength="255" [(ngModel)]="notification.trimestre">
    </div>

    <div class="form-group">
      <label for="ref">Ref de local : </label>
      <input id="ref" type="text" class="form-control" maxlength="255" [(ngModel)]="_local1.ref">
    </div>
    <div class="form-group">
      <label for="nom">Nom de redevable : </label>
      <input id="nom" type="text" class="form-control" maxlength="255" [(ngModel)]="_redevable.nom">
    </div> <div class="form-group">
      <label for="mantantEstimation">mantantEstimation : </label>
      <input id="mantantEstimation" type="text" class="form-control" maxlength="255" [(ngModel)]="notification.mantantEstimation">
    </div>
  </div>

  <div class="card-footer">
    <button class="btn btn-outline-dark btn-block" (click)="save()">Save</button>
  </div>
</div>

