<div class="mt-5">
  <h1 class="text-center">List Notification</h1>
  <div class="container">
    <div class="my-4">
      <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addEmployee" type="submit">Add Notification</button>
      <app-notification-local-create></app-notification-local-create>
    </div>
    <table class="table border" *ngIf="notifications.length !=0" >
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">numero</th>
        <th scope="col">trimestre</th>
        <th scope="col">annee</th>
        <th scope="col">ref de local</th>
        <th scope="col">cin de redevabl</th>
        <th scope="col">mantantEstimation</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of notifications ; index as i">
        <td>{{c.id}}</td>
        <td>{{c.numero}}</td>
        <td>{{c.trimestre}}</td>
        <td>{{c.annee}}</td>
        <td>{{c.locale.id}}</td>
        <td>{{c.redevable.id}}</td>
        <td>{{c.mantantEstimation}}</td>
        <td>
          <span class=" fa fa-trash btn  btn-outline-danger" (click)="deleteById(c,i)"></span>
          <span type="button" class=" btn btn-outline-primary me-2 fa fa-edit btn " data-bs-toggle="modal" data-bs-target="#editEmployee"></span>
        </td>
      </tr>
      </tbody>
    </table>

</div>
</div>
