<section id="hero">
  <img src="assets/img/hero-bg.jpg" alt="">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
<!--Main Content-->
<div class="mt-5">
  <h1 class="text-center">List Locales</h1>
  <div class="container">
    <!--Add Local Button-->
    <div class="my-4">
      <a href=""><button type="button" class="btn btn-primary">Add Local</button></a>
    </div>
    <table class="table border" >
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Reference</th>
        <th scope="col">Redevable</th>
        <th scope="col">Dernier Trimestre Paye</th>
        <th scope="col">Dernier Annee Paye</th>
        <th scope="col">Rue</th>
        <th scope="col">Categorie</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of locals">
        <td>{{c.id}}</td>
        <td>{{c.ref}}</td>
        <td>{{c.redevable.nom}}</td>
        <td>{{c.dernierTrimestrePaye}}</td>
        <td>{{c.derniereAnneePaye}}</td>
        <td>{{c.rue.libelle}}</td>
        <td>{{c.categorieLocal.libelle}}</td>

        <td>
          <div class="d-inline mx-2">
            <button class="btn btn-warning"  type="button">Update</button>
          </div>
          <div class="d-inline">
            <button class="btn btn-danger"  type="button">Delete</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
  </div>
</section>


