<p> </p>
<div class="card">
  <div class="card-header" style="background-color: lightblue">Liste des locaux: </div>
  <div class="card body">
    <table class="table table-hover table-striped">
      <thead>
      <th>Nom: </th>
      <th>Prenom: </th>
      <th>Cin: </th>
      </thead>
      <tbody>
      <tr *ngFor="let l of redevablesList; index as i" >
        <td>{{l.nom}}</td>
        <td>{{l.prenom}}</td>
        <td>{{l.cin}}</td>
        <td><div class="circle-btn"><button type="button" class=" fa fa-trash btn btn-danger"></button></div></td>
        <td><div class="circle-btn"><button type="button" class=" fa fa-trash btn btn-warning" ></button></div></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
