
<div class="container">
  <div class="border">
    <button class="btn btn-sm btn-outline-primary">
      <i id="myicon" class="fa fa-search"></i>serch
    </button>
  </div>
  <table class="table border table-hover bg-light">
    <thead>
    <tr>
      <th>ID</th>
      <th>dateApplicationDebut</th>
      <th>dateApplicationFin</th>
      <th>reference</th>
      <th>pourcentageRetard</th>
      <th>pourcentageMajoration</th>
      <th>montantParNuite</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of tauxTaxeTrimestriels ; index as i">
      <td>{{t.id}}</td>
      <td>{{t.dateApplicationDebut}}</td>
      <td>{{t.dateApplicationFin}}</td>
      <td>{{t.reference}}</td>
      <td>{{t.pourcentageRetard}}</td>
      <td>{{t.pourcentageMajoration}}</td>
      <td>{{t.montantParNuite}}</td>
      <td>
        <span class=" fa fa-trash btn  btn-outline-danger" ></span>
        <span type="button" class=" btn btn-outline-primary me-2 fa fa-edit btn " data-bs-toggle="modal"
              data-bs-target="#editEmployee"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>


