
<br>
<br>
<br>

  <div class="container">
    <h1 class="text-center ">List Locale</h1>
    <div class="my-4">
      <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addEmployee" type="submit">Add
        Locale
      </button>
      <app-locale-create></app-locale-create>
    </div>
    <table class="table border table-hover bg-light">
      <thead>
      <tr>
        <th scope="col">ref</th>
        <th scope="col">redevabl</th>
        <th scope="col">derniereAnneePaye</th>
        <th scope="col">dernierTrimestrePaye</th>
        <th scope="col">categorieLocale</th>
        <th scope="col">rue</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of locales ; index as i">
        <td>{{c.ref}}</td>
        <td>{{c.redevable.prenom}} {{c.redevable.nom}}</td>
        <td>{{c.derniereAnneePaye}}</td>
        <td>{{c.dernierTrimestrePaye}}</td>
        <td>{{c.categorieLocale.libelle}}</td>
        <td>{{c.rue.libelle}}</td>
        <td>
          <span class=" fa fa-trash btn  btn-outline-danger" (click)="deleteById(c,i)"></span>
          <a routerLink="/locale-edit/{{c.id}}">
            <i type="button" class="  btn btn-outline-primary me-2 fa fa-edit btn "
               data-bs-toggle="modal" data-bs-target="#editEmployee"></i>
          </a>



        </td>
      </tr>
      </tbody>
    </table>

  </div>

