<div class="containere container-fluid">
  <div class="screen">
    <div class="screen__content">
      <form class="login">


        <div class="login__field">
          <input type="text" class="login__input" placeholder="Categorie Locale" [(ngModel)]="tauxTaxeAnuelle.categorielocale">
        </div>
        <div class="login__field">
          <label >date de kda</label>
          <input type="date" class="login__input"  [(ngModel)]="tauxTaxeAnuelle.dateApplicationDebut" >
        </div>
        <div class="login__field">
          <label >date de kda</label>
          <input type="date" class="login__input"  [(ngModel)]="tauxTaxeAnuelle.dateApplicationFin" >
        </div>
        <button class="button login__submit">
          <span class="button__text">Similuer</span>

        </button>
      </form>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
<app-taux-taxe-anuelle-list></app-taux-taxe-anuelle-list>

