<div class="page-content">
  <div class="form-v1-content">
    <div class="wizard-form">
      <form class="form-register" action="#" method="post">
        <div id="form-total">
          <!-- SECTION 1 -->
          <h2>
            <p class="step-icon"><span></span></p>
            <span class="step-text">Taxe Trimestriel</span>
          </h2>

          <section>
            <div class="inner">
              <div class="wizard-header">
                <h3 class="heading">Taxe Trimestriel</h3>
                <p>Please enter your infomation and proceed to the next step so we can build your accounts.  </p>
              </div>
              <div class="form-row">
                <div class="form-holder">
                  <fieldset>
                    <legend>Redevable Cin</legend>
                    <input type="text" class="form-control"  name="first-name" placeholder="cin" required>
                  </fieldset>
                </div>
                <div class="form-holder">
                  <fieldset>
                    <legend>Locale Reference </legend>
                    <input type="text" class="form-control"  name="last-name" placeholder="reference" required>
                  </fieldset>
                </div>
              </div>

              <div class="form-row">
                <div class="form-holder">
                  <fieldset>
                    <legend>Nombre de nuité</legend>
                    <input type="text" class="form-control" name="first-name" placeholder="Nombre de nuité" required>
                  </fieldset>
                </div>
                <div class="form-holder">
                  <fieldset>
                    <legend>Année </legend>
                    <input type="text" class="form-control"  name="last-name" placeholder="Année" required>
                  </fieldset>
                </div>
              </div>


              <div class="form-group">

                <form  class="form-group">
                  <fieldset>
                    <legend style="font-size: medium;" >Trimestre</legend>
                    <div>
                      <input type="radio" id="contactChoice1" name="contact" value="email" />
                      <label for="contactChoice1">1</label>
                      <input type="radio" id="contactChoice2" name="contact" value="phone" />
                      <label for="contactChoice2">2</label>
                      <input type="radio"  name="contact" value="mail" />
                      <label for="contactChoice3">3</label>
                      <input type="radio" id="contactChoice3" name="contact" value="mail" />
                      <label for="contactChoice3">4</label>
                    </div>
                  </fieldset>
                </form>



                <div class="form-row form-row-date">
                  <div >
                    <label class="special-label"> <h4>Date de presentation : </h4>  </label>
                    <input class="input-date" type = "date" name = "date">
                  </div>
                </div>

              </div>
            </div>
          </section>
          <h2>
            <p class="step-icon"><span></span></p>
            <span class="step-text">Taxe Anuelle</span>
          </h2>

          <section>
            <div class="inner">
              <div class="wizard-header">
                <h3 class="heading">Taxe Anuelle</h3>
                <p>Please enter your infomation and proceed to the next step so we can build your accounts.  </p>
              </div>
              <div class="form-row">
                <div class="form-holder">
                  <fieldset>
                    <legend>Redevable Cin</legend>
                    <input type="text" class="form-control" id="first-name" name="first-name" placeholder="Redevable Cin..." required>
                  </fieldset>
                </div>
                <div class="form-holder">
                  <fieldset>
                    <legend>Locale Reference </legend>
                    <input type="text" class="form-control" id="last-name" name="last-name" placeholder="reference" required>
                  </fieldset>
                </div>
              </div>

              <div class="form-row">
                <div class="form-holder">
                  <fieldset>
                    <legend>Nombre de nuité</legend>
                    <input type="text" class="form-control"  name="first-name" placeholder="Nombre de nuité" required>
                  </fieldset>
                </div>
                <div class="form-holder">
                  <fieldset>
                    <legend>Année </legend>
                    <input type="text" class="form-control"  name="last-name" placeholder="Année" required>
                  </fieldset>
                </div>
              </div>



              <div class="form-row form-row-date">
                <div class="form-holder form-holder-2">
                  <label class="special-label">date de presentation</label>
                  <select name="month" id="month">
                    <option value="MM" disabled selected>MM</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                  </select>
                  <select name="date" id="date">
                    <option value="DD" disabled selected>DD</option>
                    <option value="Feb">Feb</option>
                    <option value="Mar">Mar</option>
                    <option value="Apr">Apr</option>
                    <option value="May">May</option>
                  </select>
                  <select name="year" id="year">
                    <option value="YYYY" disabled selected>YYYY</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                  </select>
                </div>
              </div>

            </div>
          </section>



          <!-- SECTION 3 -->
          <h2>
            <p class="step-icon"><span></span></p>
            <span class="step-text">liste des taxes</span>
          </h2>
          <section>
            <div class="inner">
              <div class="wizard-header">
                <h3 class="heading">Set Financial Goals</h3>
                <p>Please enter your infomation and proceed to the next step so we can build your accounts.</p>
              </div>
              <div class="form-row">

              </div>
            </div>
          </section>
        </div>
      </form>
    </div>
  </div>
</div>
