<br>
<!--Main Content-->
<div class="mt-5">
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
    <!--Add Local Button-->
    <div class="my-4">
      <div class="my-4">
        <div class="toolbar">
          <button type="button" class="btn btn-info add-new" data-bs-toggle="modal" data-bs-target="#addEmployee"><i class="fa fa-plus"></i> Add New</button>
          <div class="search-box">
            <i class="material-icons">&#xE8B6;</i>
            <input type="text" class="form-control" placeholder="Search&hellip;">
          </div>
        </div>
      </div>
    </div>

    <app-redevable-list></app-redevable-list>

      </div>
    <div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new Redevable</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form>
              <div class="mb-3">
                <label  class="form-label">Nom </label>
                <input type="text" name="nom"  class="form-control"  aria-describedby="emailHelp" [(ngModel)]="redevable.nom">
              </div>
              <div class="mb-3">
                <label  class="form-label">Prenom </label>
                <input type="text" name="prenom" class="form-control"   aria-describedby="emailHelp" [(ngModel)]="redevable.prenom">
              </div>
              <div class="mb-3">
                <label class="form-label">Cin </label>
                <input type="text" name="cin" class="form-control"   aria-describedby="emailHelp" [(ngModel)]="redevable.cin">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="save()">Add redevable</button>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
<app-redevable-edit></app-redevable-edit>
      <div class="clearfix">
        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
        <ul class="pagination">
          <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item active"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
      </div>

    <div class="alert alert-success alert-dismissible d-flex align-items-center fade show">
      <i class="bi-check-circle-fill"></i>
      <strong class="mx-2">Success!</strong> Your message has been sent successfully.
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
      <i class="bi-exclamation-octagon-fill"></i>
      <strong class="mx-2">Error!</strong> A problem has been occurred while submitting your data.
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
</div>
</div>



